/* 
font-family: 'Press Start 2P', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Concert One', cursive;
font-family: 'Electrolize', sans-serif; */

.parent_dashboard {
  align-items: center;
  width: 100%;
  height: 85vh;
  padding-top: 15vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.parent_dashboard-feedback {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 30px 10px;
  background: rgb(0, 0, 0, 0.5);
  position: relative;
  animation: bounce 500ms infinite alternate;
  -webkit-animation: bounce 500ms infinite alternate;
  border-radius: 10px;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

.household-add-form-feedback {
  padding: 5px;
  margin: 0;
  color: white;
}

.card-info {
  padding-top: 40px;
  overflow-wrap: break-word;
  width: 100%;
}


.add-house-label {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 217, 0);
  line-height: 25px;
  margin: 0;
  padding: 20px 20px;
}

.add-household-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.household_buttons {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  margin: 10px 0 100px 0;
}
.house_card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 250px;
  text-align: center;
  margin: 10px;
  font-family: 'Fredoka One', cursive;
  font-size: 23px;
  padding: 10px;
  background-color: #3e5ad6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 9px;
  border: #334ab0 solid 1px;
  box-shadow: 0 0.3em #334ab0;

  /* <-----------new card styling------------> */
}

.dash-buttons {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 10px auto;
}

.dash-buttons button {
  text-align: center;
  margin: 15px auto;
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  padding: 15px;
  background-color: rgb(255, 217, 0);
  text-shadow: -1px -1px rgb(105, 90, 0), 1px 1px white;
  color: #725f00;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.3em rgb(134, 112, 0);
  cursor: pointer;
  width: 80%;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 10px;
}

.buttons-container button {
  color: #d4d1d1be;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0;
  justify-content: flex-end;
  cursor: pointer;
}

.trash-icon:hover,
.add-icon:hover,
.pen-icon:hover,
.save-icon:hover {
  animation: bounce 500ms infinite alternate;
  -webkit-animation: bounce 500ms infinite alternate;
  color: rgb(255, 217, 0); /* yellow */
}

/* THIS IS THE NEW SIZING FOR THE NEW ICONS WHEN WE GET THEM! */
.add-icon {
  font-size: 1.2em;
}

.update-household {
  width: 70%;
  font-family: 'Electrolize', sans-serif;
  font-size: 18px;
}
/*-------- typography -------------- */
.parent_dashboard-feedback p {
  padding: 5px;
  margin: 0;
  color: white;
  text-align: center;
}
.parent_dashboard-feedback p > span {
  color: #b1b1b1;
}
.parent_dashboard-feedback h3 {
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 217, 0);
}
.house_card li,
.house_card ul {
  list-style: none;
  margin: 0;
  padding: 0 5px;
}

.see-dash {
  cursor: pointer;
  color: #b1b1b1;
  font-family: 'Electrolize', sans-serif;
  position: absolute;
  left: 5%;
}

.see-dash:hover {
  animation: bounce 500ms infinite alternate;
  -webkit-animation: bounce 500ms infinite alternate;
  color: white;
}

.card-info > p {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
}

.house_card p {
  padding: 15px 0;
  margin: 0;
  font-weight: 600;
  color: rgb(255, 217, 0);
  text-align: center;
}

.card-info li > span a {
  font-size: 14px;
  font-family: 'Press Start 2P', cursive;
  color: rgb(255, 217, 0);
}
.house_card ul > li {
  line-height: 35px;
}
.alertMsg {
  font-family: 'Electrolize', sans-serif;
  font-size: 16px;
}
.house_card ul {
  font-family: 'Electrolize', sans-serif;
  font-size: 20px;
  color: white;
}


@media screen and (min-width: 580px) {
  .house_card {
    width: 80%;
  }

  .parent_dashboard-feedback {
    width: 70%;
    max-width: 550px;
  }
  .edit-input-field {
    width: 350px;
    margin: auto;
  }

  
.dash-buttons {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dash-buttons button {
  width: 40%;
  max-width: 225px;
  margin: 0;
}

}
@media screen and (min-width: 800px) {
  .house_card {
    width: 500px;
  }
  .add-household {
    display: inline-block;
    width: 50%;
  }
  .household-details {
    display: inline-block;
    width: 50%;
  }

  .dash-buttons {
    width: 500px;
  }
}

@media screen and (min-width: 950px) {
  .add-forms-container {
    width: 90%;
  }

  .card-members {
    columns: 2 auto;
  }
  
  /* Grid rules  */

  .house_card {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 60px 100px 50px;
    padding: 0px;
    border: 3px solid white;
    border-radius: 10px;
  }

  .house_card_link {
    grid-column-start: span 2;
    grid-row-start: 4;
    width: 100%;
    text-align: right;
    /* display: flex;
    justify-content: flex-end; */
  } 

  .house_card_link a {
    color: white;
    text-align: right;
    font-family: "Electrolize", sans-serif;
    padding: 0 20px;
  } 

  .house_card_controls {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: flex-end;
    /* border-bottom: 3px solid white; */
    /* padding: 0 10px; */
  }

  .house_card_controls svg {
    margin: 0 10px;
  }


  .house_card h3 {
    grid-column-start: 1;
    grid-row-start: 1;
    margin: 0;
    padding: 20px;
    font-familY: "Press Start 2P", cursive;
    color: #FFD900;
    text-align: left;
    /* border-bottom: 3px solid white; */
  }

  .house_card h4 {
    grid-column-start: span 2;
    grid-row-start: 2;
    text-align: center;
    font-familY: "Press Start 2P", cursive;
    font-size: .8em;
    border-top: 3px solid white;

    /* font-family: 'Electrolize', sans-serif; */
    color: white;
    /* margin: 10px 0; */
    padding: 15px 0;
  }

  .card-members {
    grid-column-start: span 2;
    grid-row-start: 3;
  }
  
}
