.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 50px auto;
}

/* !Pay attention to the positioning here. Might need to update when we get the header straightened out */
.heroWrapper {
  composes: house from '../../index.css';
  position: relative;
  height: 90vh;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 10vh;
  background-image: url('../../ImgAssets/ChoreRunner.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat;
  width: 100%;
  margin-bottom: 50px;
}

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.4em;
  color: rgb(255, 217, 0);
  text-shadow: -1px -1px rgb(105, 90, 0), 4px 4px rgb(134, 112, 0);
}

.hero p {
  text-align: center;
  font-size: 1.2em;
  color: white;
  font-family: 'Fredoka One', cursive;
}

.about {
  composes: bounce from '../../index.css';
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  align-items: center;

  font-family: 'Electrolize', sans-serif;
  color: grey;
}

.about > a {
  padding-bottom: 30px;
  font-family: 'Fredoka One', cursive;
  color: white;
  line-height: 0;
}

.about svg {
  display: block;
  margin: auto;
  width: 100px;
}

.onBoarding h3 {
  padding-top: 20px;
  color: rgb(255, 217, 0);
  font-size: 20px;
  text-shadow: none;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0px 5px rgba(0, 0, 0, 0.2), 2px 2px rgb(0, 0, 0, 0.2);
}

.onBoarding img {
  width: 100%;
  border: 1px solid white;
  box-shadow: 0px 5px 4px;
}

.landing p {
  font-family: 'Electrolize', sans-serif;
  margin: 15px auto;
  text-align: center;
}

.linkButtons a {
  width: 290px;
  text-align: center;
  margin: 10px;
  max-width: 290px;
  color: #725f00;
}

.linkButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.linkButtons a:active,
.onBoarding a:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.onBoarding {
  width: 80%;
  margin: 50px auto;
}

.onBoarding a {
  display: block;
  margin: 35px auto;
  color: #725f00;
  width: 90%;
  max-width: 290px;
}

.onBoardingContent {
  margin: 50px 0;
}

.onBoardingContent p {
  font-family: 'Electrolize', sans-serif;
  text-align: left;
  color: white;
  line-height: 1.3em;
}

.onBoarding h4 {
  color: rgb(255, 217, 0);
  font-size: 1.3em;
  font-family: 'Electrolize', sans-serif;
}

@media (min-width: 450px) {
  .heroWrapper {
    height: 95vh;
    top: 5vh;
    justify-content: center;
    align-items: center;
  }

  .hero {
    height: 70%;
    position: relative;
    top: 0;
    align-items: space-between;
  }

  .onBoarding {
    width: 90%;
    display: grid;
    grid-template-rows: repeat(auto, 4);
    grid-template-columns: 1fr 1fr;
    gap: 50px 40px;
    margin: 100px auto 200px auto;
  }

  .onBoarding header:first-child {
    grid-row: 1;
    grid-column: span 2;
    text-align: center;
  }

  .onBoarding header {
    grid-row: 3;
    grid-column: span 2;
    text-align: center;
  }

  .onBoarding h3 {
    padding: 0;
    font-size: 1.5em;
  }

  .onBoardingContent h4 {
    margin: 0;
  }

  .onBoardingContent,
  .parentImage,
  .kidImage {
    margin: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }

  .onBoarding .onBoardingContent:first-child {
    grid-row: 2;
    grid-column: 2;
  }

  .onboarding .onBoardingContent {
    grid-row: 4;
    grid-column: 1;
  }

  .kidImage {
    grid-row: 2;
    grid-column: 1;
    /* justify-content: center; */
  }

  .parentImage {
    grid-row: 4;
    grid-column: 2;
    /* justify-content: center; */
  }

  .onBoarding a {
    margin: 15px auto;
  }
}

@media screen and (min-width: 800px) {
  .onBoarding {
    width: 70%;
  }
}
