@import '../../vars.css';

.FormElement {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Input,
.TextArea,
.Select {
  height: 35px;
  border-radius: 3px;
  padding: 3px;
}

.Label {
  font-size: 1.1em;
}

.Fieldset {
  border: none;
}

.Legend {
  font-family: var(--font-headers);
}
