/* body {
  font-size: 1em;
} */

.leaderboard_container {
  background: rgba(0, 0, 0, 0.7);
  /* border-radius: 10px; */
  min-width: 40%;
  margin: 20px auto;
  width: 95%;
  border-radius: 10px;
  border: 3px solid white;
}

.leader_board {
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.leader_board h3 {
  color: rgb(255, 217, 0);
}

.header_rank,
.header_name,
.header_score {
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px;
}

.score_display {
  width: auto;
  margin: 10px auto;
}

.leader_board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 15px;
  padding: 10px;
}

.rankings {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  list-style: none;
  margin: 0 auto;
  font-size: 1.1em;
  font-family: 'Electrolize', sans-serif;
}

.rankings li {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rankings li:nth-child(-n + 3):before {
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../../ImgAssets/ChoreRunner.png');
}

.rankings li:nth-child(1)::before,
  .rankings li:nth-child(2)::before,
  .rankings li:nth-child(3)::before {
    display: block;
    margin: 0 auto;
    background-size: 25px;
    height: 35px;
    width: 25px;
  }

.rankings li:nth-child(1):before {
  background-image: url('../../ImgAssets/FirstCup.png');

}

.rankings li:nth-child(2):before {
  background-image: url('../../ImgAssets/SecondCup.png');
}

.rankings li:nth-child(3):before {
  background-image: url('../../ImgAssets/ThirdCup.png');
}

.rankings li:nth-child(-n + 3) .score {
  display: block;
}
.rank {
  font-size: 1.1em;
}

.name_col {
  text-align: center;
  margin: 0 auto;
  word-wrap: break-word;
}

.score_col {
  text-align: center;
}

@media (min-width: 500px) {
  .leaderboard_container {
    width: 80%;
  }
  .rankings {
    font-size: 1.3em;
    font-family: 'Electrolize', sans-serif;
  }

  .rankings li:nth-child(1)::before,
  .rankings li:nth-child(2)::before,
  .rankings li:nth-child(3)::before {
    background-size: 40px;
    height: 50px;
    width: 40px;
  }

  .rank {
    font-size: 1.2em;
  }
}

@media (min-width: 850px) {
  .leaderboard_container {
    width: 60%;
  }
  .rankings {
    font-size: 1.4em;
    font-family: 'Electrolize', sans-serif;
  }

  .rankings li:nth-child(1)::before,
  .rankings li:nth-child(2)::before,
  .rankings li:nth-child(3)::before {
    background-size: 50px;
    height: 60px;
    width: 50px;
  }
}
