@import '../../vars.css';

.navBar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgb(48, 34, 206);
  padding: 0 20px;
  font-size: 1em;
  color: white;
}

.logo {
  font-size: 1.1em;
  composes: videoGameTitles from '../../index.css';
  width: 40%;
  text-align: left;
}

.navLinks {
  font-size: 1.1em;
  font-family: var(--font-body);
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.navLinks p {
  margin-left: auto;
}

.loginLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 450px) {
  .navBar {
    height: 5vh;
  }
  .navLinks {
    width: 150px;
  }
}
