.memberDetails {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 30% 1fr;
  text-align: left;
  margin-bottom: 10px;
}

.memberDetails p {
  margin: 0;
  display: flex;
  align-items: center;
}

.progressBarContainer {
  width: 100%;
}
