.memberDashboard {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
  top: 10vh;
  padding: 0;
  background-image: url('../../ImgAssets/ChoreRunner.png');
  background-size: cover;
  background-position: 0 0;
  background-repeat: repeat;
  animation: house 45s linear infinite;
}

.memberDashWrapper {
  width: 100%;
  padding: 25px 10px 100px 10px;
}

.memberDashboard header {
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  border: 3px solid white;
  margin: auto;
}

.memberDashboard header h2 {
  font-size: 1.2em;
}

.choresContainer {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 100%;
  margin: 20px auto;
  padding-bottom: 20px;
  border: 3px solid white;
}

.points span {
  color: white;
  font-family: 'Electrolize', sans-serif;
}
.taskName p {
  color: white;
  font-family: 'Electrolize', sans-serif;
  margin: 0;
  text-align: left;
}

.choresContainer ul {
  padding: 0;
  margin: 0;
}

.taskItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 10px;
  text-align: center;
  align-items: center;
  margin: 0 auto 30px auto;
  font-size: 1.2em;
  width: 80%;

  /* padding: 0 20px; */
}
.taskAlert {
  color: white;
  font-size: 20px;
  margin: 0;
  font-family: 'Electrolize', sans-serif;
}

.choresContainer h2 {
  padding-top: 20px;
  margin-bottom: 30px;
  color: rgb(255, 217, 0);
  font-size: 20px;
  text-shadow: none;
  font-family: 'Press Start 2P', cursive;
}

.taskControl {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.taskControl button {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  padding: 10px;
  background-color: rgb(255, 217, 0);
  text-shadow: -0.5px -1px rgb(105, 90, 0), 1px 1px white;
  color: #725f00;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.3em rgb(134, 112, 0);
  cursor: pointer;
  animation: bounce 500ms infinite alternate;
  -webkit-animation: bounce 500ms infinite alternate;
  cursor: pointer;
}

@keyframes house {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -13690px 0;
  }
}

@media screen and (min-width: 470px) {
  .choresContainer h2 {
    padding-top: 20px;
    color: rgb(255, 217, 0);
    font-size: 20px;
    text-shadow: none;
    font-family: 'Press Start 2P', cursive;
  }

  @keyframes house {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -13690px 0;
    }
  }

  /* .points {
    /* margin: 0 20px; */

  /* 
  .taskName {
    min-width: 250px;
  } */
}
@media screen and (min-width: 500px) {
  .memberDashboard {
    top: 5vh;
    padding-top: 50px;
    overflow-y: auto;
    background-image: url('../../ImgAssets/ChoreRunner.png');
    background-size: cover;
    background-position: 0 0;
    background-repeat: repeat;
    animation: house 45s linear infinite;
  }

  .memberDashWrapper {
    padding-top: 50px;
    width: 80%;
    min-width: 500px;

    margin: auto;
  }

  .memberDashboard header {
    width: 80%;
    min-width: 425px;
  }

  .choresContainer {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-bottom: 100px;
    width: 80%;
    margin: 20px auto;
    min-width: 425px;
  }
}

@media screen and (min-width: 850px) {
  .memberDashWrapper {
    width: 60%;
  }
  .choresContainer,
  .memberDashboard header {
    width: 80%;
    min-width: 600px;
    max-width: 800px;
  }
}
